/* common shared styles*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.banner {
    padding-top: 25px;
    background-color: rgba(229, 84, 115, 0.10);
    ;
}

.banner-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-left-col {
    flex-basis: 50%;

}

.banner-right-col {
    flex-basis: 50%;
    text-align: center;
}

.banner-right-col img {
    width: 70%;

}

.banner-left-col {
    max-width: 500px;
    margin: auto;
}


.banner-left-col h1 {
    font-size: 50px;
}

.banner-left-col p {
    font-size: 20px;
    text-align: justify;
    margin: 15px 0px;
}


.btn {
    padding: 10px;
    margin: 10px 0px;
    color: white;
    border: none;
    border-radius: 8px;
    background: #E55473;
}

.btn:hover {
    background-color: #fb02b0
}

/* Featured */
.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

.featured p {
    padding-top: 25px;
}

/* cards */
.cards {
    padding: 10px 50px;
    display: flex;
    justify-content: space-around;

}

.card {
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
    border-radius: 300px 300px 0px 0px;
}

.card img {
    padding-top: 10%;
    width: 70%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card1 {
    background-color: rgba(167, 33, 98, 0.15);
}

.card2 {
    background-color: rgba(5, 151, 160, 0.15);
}

.card3 {
    background-color: rgba(71, 125, 17, 0.15);
}

.cardName {
    display: flex;
    justify-content: space-around;
}

/* service */
.service {
    display: flex;
    justify-content: space-around;
    margin: 60px;
    padding: 50px;
    background-color: rgba(39, 39, 39, 0.05);
}

.service div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* hot deal */
.hot {
    color: rgba(229, 84, 115, 1);
}

.hot-deal {
    text-align: center;
}

.hot-img img {
    width: 50%;
}

/* instagram image */
.instagram-img {
    display: flex;
    padding: 50px;
    justify-content: space-around;
}

.instagram-img img {
    width: 250px;
}

/* Subscribe */
.subscribe {
	margin: auto;
	width: 90%;
    background-image: url("/images/Rectangle 9.png");
}

.input {
    margin: auto;
	margin-bottom: 50px;
    width: 700px;
	padding-bottom: 50px;
}

input[type=email],
select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0px;
    margin-left: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}